@font-face {
  font-family: "Anek Tamil";
  src: url("/fonts/AnekTamil-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("/fonts/Inter24pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("/fonts/Inter24pt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anek Tamil";
  src: url("/fonts/AnekTamil-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("/fonts/Inter24pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 780.98px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 781px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 1080.98px) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (min-width: 1081px) {
  .tablet-visible {
    display: none !important;
  }
}

@media (max-width: 920.98px) {
  .tablet-s-hidden {
    display: none !important;
  }
}

@media (min-width: 921px) {
  .tablet-s-visible {
    display: none !important;
  }
}

:root {
  --rpx: .0625rem;
  --accent-color: #658D49;
  --text-color: #5B5D5E;
  --text-color-alt: #969696;
  --text-light-color: #ffffff;
  --button-color: #C43F48;
  --background-color: #F0F0EB;
  --header-background-color: #fff;
  --viability-image-background-color: #fff;
  --for-whom-background-color: #888C65;
  --border-radius: calc(20 / 16)rem;
  --border-radius-small: rem(8);
  --container-padding-x: rem(20);
  --container-width: rem(1660);
  --section-padding-y: rem(80);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  margin-block: 0;
}

img, video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;
  line-height: 1.5;
}

dialog {
  color: inherit;
  margin: 0;
  padding: 0;
  max-width: inherit;
  max-height: inherit;
}

svg * {
  transition-property: fill, stroke;
}

body {
  font-size: "1.125rem";
}

.header {
  width: 500px;
  height: 500px;
  background-color: cyan;
  border-radius: var(--border-radius);
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */